# ML Examples

This is the first of a several examples I will be doing in order to keep practicing with ML models.

#### Set up enviroment

-We will use Jupyter Notebook

-We will code with Python

-We will import Libraries

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
database = pd.read_csv('BBC.csv')
database.head(5)

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1
2,5,1,60000,3,3,5,1,1,5,2,51,1
3,5,2,70000,0,0,5,0,1,10,2,49,1
4,5,2,80000,5,5,5,1,4,2,2,48,1

In [3]:
database.describe()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
count,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000
mean,3.310106,1.494103,57305.777970,1.844352,1.004058,3.310106,0.676369,1.502705,6.003246,1.789710,54.603928,0.494049
std,1.426147,0.499979,32285.841703,1.612408,1.522660,1.426147,0.467874,1.138394,6.382562,0.872664,11.255252,0.499978
min,1.000000,1.000000,10000.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,36.000000,0.000000
25%,2.000000,1.000000,30000.000000,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,46.000000,0.000000
50%,3.000000,1.000000,60000.000000,2.000000,0.000000,3.000000,1.000000,2.000000,2.000000,1.000000,53.000000,0.000000
75%,5.000000,2.000000,70000.000000,3.000000,2.000000,5.000000,1.000000,2.000000,10.000000,3.000000,62.000000,1.000000
max,5.000000,2.000000,170000.000000,5.000000,5.000000,5.000000,1.000000,4.000000,20.000000,3.000000,106.000000,1.000000

In [4]:
database.isnull().count()

MaritalStatus           18484
Gender                  18484
YearlyIncome            18484
TotalChildren           18484
NumberChildrenAtHome    18484
EnglishEducation        18484
HouseOwnerFlag          18484
NumberCarsOwned         18484
CommuteDistance         18484
Region                  18484
Age                     18484
BikeBuyer               18484
dtype: int64

In [5]:
print(database.groupby('BikeBuyer').size())

BikeBuyer
0    9352
1    9132
dtype: int64

In [6]:
array = database.values

In [7]:
X = array[:, 0:11]
Y = array[:, 11]

In [8]:
test_size = .20
seed = 40

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [10]:
model = RandomForestClassifier()
model.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
result = model.score(X_test, Y_test)
print('Accuracy: %.3f%%' % (result*100.0))

Accuracy: 79.551%

In [12]:
modelk = KNeighborsClassifier()
modelk.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [13]:
result = modelk.score(X_test, Y_test)
print('Accuracy: %.3f%%' % (result*100.0))

Accuracy: 78.685%

In [14]:
models = SVC()
models.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [15]:
result = models.score(X_test, Y_test)
print('Accuracy: %.3f%%' % (result*100.0))

Accuracy: 52.745%